body {
    background: url(../images/background.jpg.jpg);
    height: 720px;
}
div#Header {
    width: 50%;
    height: 108px;
    overflow: hidden;
    margin-left: 30%;
    margin-right: 20%;
}
div#Content {
    height: 500px;
    width: 1350px;
}
h1 {
    color: red;
}
div#Footer {
    height: 112px;
    width: 100%;

}
div#Terran {
    height: 450px;
    width: 30%;
    margin-left: 5%;
    float: left;
    overflow: hidden;
}
div#Protoss {
    height: 450px;
    width: 30%;
    float: left;
    overflow: hidden;
}
div#Zerg {
    height: 450px;
    width: 30%;
    margin-right: 5%;
    float: left;
    overflow: hidden;
}
p {
    color: red;
}